<h1><center>Flights Board</center></h1>
<br>
<hr>
<table>
  <tr>
    <th>Flight Number</th>
    <th>Airline</th>
  </tr>
  <% @flights.each_with_index do |flight, index| %>
    <div id="flight-<%= index %>">
      <tr>
        <td><strong><%= flight.number %></strong></td>
        <td><strong><%= flight.airline.name %></strong></td>
      </tr>
    <th>Passengers</th>
      <% flight.passengers.each do |passenger| %>
        <tr>
          <td><strong><%= passenger.name %></strong></td>
          <td><%= link_to "Delete", "/flights/#{flight.id}/passengers/#{passenger.id}", method: :delete %></td>
        </tr>
      <% end %>
    </div>
  <% end %>
</table>
